version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: fleet-api-mongo
    environment:
      MONGO_INITDB_DATABASE: fleet_api
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_data:
